html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    /*position:absolute;*/
    /*left:50%;*/
    /*top:95%;*/
    left: 50%;
    right:auto;
    top:auto;
    bottom:0;
    margin-left:-13.5px;
    transform:rotate(90deg);
}
/*
*第一屏样式
*/

.s1,.s2{
    background:url("../img/bj.png");
    height: 100%;
    position: relative;
}
body .img{
    position: absolute;
    width: 20px;
    right:20px;
    top:15px;
}
.header img{
    position: absolute;
}
.header img:nth-of-type(1){
    width: 30px;
    top:120px;
    left:50px;
}
.header img:nth-of-type(2){
    width: 60px;
    top:90px;
    right:35px;
}
.header img:nth-of-type(3){
    width: 50px;
    top:430px;
    left:30px;
}
.header img:nth-of-type(4){
    width: 50px;
    top:400px;
    right:50px;
}
.header img:nth-of-type(5){
    width:70%;
    top: 25%;
    left: 50%;
    margin-left:-35%;
}
.main img{
    position: absolute;
}
.main img:nth-of-type(1){
    width:40%;
    top:33%;
    left:28%;
}
.main img:nth-of-type(2){
    width:80%;
    top: 40%;
    left:10%;
}
.main p{
    color:black;
    background:url(../img/9.png);
    width:200px;
    background-size:100%;
    position:absolute;
    top:51%;
    left:19%;
    padding:2px 20px;
    font-weight: bold;
}
.footer div{
    position: absolute;
    bottom:15%;
    left:20%;
}
.footer div p{
    color:#117e7b;
    font-weight: bold;
}
.footer img{
    position:absolute;
    bottom:0;
    height: 70px;
}
.footer img:nth-of-type(1){
    left:-15%;
}
.footer img:nth-of-type(2){
    left:-23%;
}

/*
*第二屏样式
*/
.s2{
    color:#117e7b;
    padding-top: 70px;
}
.header1 .img1{
    padding-right: 25px;
}
.header1 .img2{
   margin-left: 25px;
    transform: rotate(180deg);
}
.header1 h2{
    margin-top: 0;
    margin-bottom:5px;
}
.header1 span{
    letter-spacing: 5px;
}
.main1 div{
    text-align: left;
    background:radial-gradient(#03001f,#042538);
    padding:33px 25px;
    opacity: 0.7;
    margin:25px 30px;
    margin-bottom:0;
    font-size: 16px;
}
.main1 span{
    background:linear-gradient(#00e7f7,#00fd9d);
    padding: 5px 30px;
    border-radius:10px;
    color:black;
    font-weight: bold;
    display: inline-block;
}