html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    /*position:absolute;*/
    /*left:50%;*/
    /*top:95%;*/
    left: 50%;
    right:auto;
    top:auto;
    bottom:0;
    margin-left:-13.5px;
    transform:rotate(90deg);
}
/*第一屏样式*/

.s1{
    background:url("../img/bj.png");
    height: 100%;
    position: relative;
}
.header img{
    position: absolute;
}
.header img:nth-of-type(1){
    width: 30px;
    top:120px;
    left:50px;
}
.header img:nth-of-type(2){
    width: 60px;
    top:90px;
    right:35px;
}
.header img:nth-of-type(3){
    width: 50px;
    top:430px;
    left:30px;
}
.header img:nth-of-type(4){
    width: 50px;
    top:400px;
    right:50px;
}
.header img:nth-of-type(5){
    width:70%;
    top: 25%;
    left: 50%;
    margin-left:-35%;
}
.main img{
    position: absolute;
}
.main img:nth-of-type(1){
    width:40%;
    top:33%;
    left:28%;
}
.main img:nth-of-type(2){
    width:80%;
    top: 44%;
    left:10%;
}
.main p{
    color:black;
    background:url(../img/9.png);
    width:200px;
    background-size:100%;
    position:absolute;
    top:60%;
    left:25%;
}
.footer{
    position: absolute;
    bottom:10%;
    left:30%;
}
.footer p{
    color:#117e7b;
    font-weight: bold;
    margin-top: 0;
    font-size:12px;
}