*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next{
    /*position:absolute;*/
    /*left:50%;*/
    /*top:95%;*/
    left: 50%;
    right:auto;
    top:auto;
    bottom:0;
    margin-left:-13.5px;
    transform:rotate(90deg);
}
/*
*第一屏样式
*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background:url("../img/bj.png");
    height: 100%;
    position: relative;
}
body .img{
    position: absolute;
    width: 20px;
    right:20px;
    top:15px;
}
.header img{
    position: absolute;
}
.header img:nth-of-type(1){
    width: 30px;
    top:120px;
    left:50px;
    animation:tada infinite;
}
.header img:nth-of-type(2){
    width: 60px;
    top:90px;
    right:35px;
    animation:tada infinite;
}
.header img:nth-of-type(3){
    width: 50px;
    top:430px;
    left:30px;
    animation:tada infinite;
}
.header img:nth-of-type(4){
    width: 50px;
    top:420px;
    right:50px;
    animation:tada infinite;
}
.header img:nth-of-type(5){
    width:70%;
    top: 25%;
    left: 50%;
    margin-left:-35%;
    animation:pulse infinite;
}
.main img{
    position: absolute;
}
.main img:nth-of-type(1){
    width:40%;
    top:33%;
    left:28%;
}
.main img:nth-of-type(2){
    width:80%;
    top: 40%;
    left:10%;
}
.main p{
    color:black;
    background:url(../img/9.png);
    width:200px;
    background-size:contain;
    position:absolute;
    top:55%;
    left:24%;
    height: 24px;
    font-weight: bold;
}
.footer div{
    position: absolute;
    bottom:18%;
    width: 100%;
}
.footer div p{
    color:#117e7b;
    font-weight: bold;
}
.footer img{
    position:absolute;
    bottom:0;
    height:70px;
}
.footer img:nth-of-type(1){
    left:-15%;
}
.footer img:nth-of-type(2){
    left:-23%;
}

/*
*第二屏样式
*/
.s2,.s3,.s4,.s4,.s5,.s6,.s7{
    color:#03f3cc;
}
.header1 h2{
    padding-top:70px;
    position: relative;
    font-size:26px;
}
.header1 h2::before,.header1 h2::after{
    content:"";
    position: absolute;
    width: 80px;
    height: 20px;
    display: inline-block;
}
.header1 h2::before{
    background:url("../img/14.png");
    background-size:contain;
    margin-left: -95px;
    margin-top: 10px;
}
.header1 h2::after{
    content:"";
    background:url("../img/13.png");
    position: absolute;
    width: 80px;
    height: 20px;
    display: inline-block;
    background-size:contain;
    margin-left:68px;
    margin-top: 80px;
    top:0;
}
.header1 h2 small{
    display:block;
    letter-spacing: 5px;
    font-size:14px;
    margin-top: 10px;
}
.main1 div{
    position: absolute;
    top: 25%;
    width: 80%;
    left:50%;
    margin-left: -40%;
}
.main1 img{
    position:absolute;
    width: 100%;
    left:0;
}
.main1 div p{
    font-size:14px;
   text-align: left;
    line-height:25px;
    padding: 0 10%;
}
.main1 div p:nth-of-type(1){
    padding-top:20px;
}
.main1 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    border-radius:10px;
    width: 120px;
    height: 25px;
    color:black;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom:17%;
    left: 50%;
    margin-left: -60px;
}


/*
*第三屏样式
*/
.main2 span{
    border-radius:50%;
    background:radial-gradient(#000e2b,#045568);
    padding:20px 15px;
    opacity: 0.8;
    font-weight:bold;
    position: absolute;
    font-size:18px;
}
.main2 span:nth-of-type(1){
    top:170px;
    left: 90px;
    animation: rubberBand infinite;
}
.main2 span:nth-of-type(2){
     top:170px;
     right: 90px;
    animation: rubberBand infinite;
 }
.main2 span:nth-of-type(3){
    top:290px;
    left: 20px;
    animation: rubberBand infinite;
}
.main2 span:nth-of-type(4){
    top:290px;
    right: 30px;
    animation: rubberBand infinite;
}
.main2 span:nth-of-type(5){
    top: 410px;
    left: 90px;
    animation: rubberBand infinite;
}
.main2 span:nth-of-type(6){
    top: 410px;
    right: 90px;
    animation: rubberBand infinite;
}
.main2 span:nth-of-type(7){
    padding:45px 20px;
    left:130px;
    top:256px;
    animation:pulse infinite;
}
.footer .ss1{
    position: absolute;
    bottom:15%;
    width: 100%;
}

/*
*第四屏样式
*/
.main3{
    position:absolute;
    width: 80%;
    left:50%;
    margin-left: -40%;
    top:25%;
}
.main3 .img1{
    width: 100%;
}

.main3 .div{
    position: absolute;
    padding: 0 10%;
    top:0;
}
.main3 .div p{
    font-size:16px;
    font-weight:bold;
    display: inline-block;
    line-height: 34px;
}
.main3 .div p small{
    font-size: 16px;
}
/*.main3 .div span:nth-of-type(1){*/
    /*color:#008a7b;*/
    /*left:0;*/
    /*padding-left: 60px;*/
/*}*/
/*.main3 .div span:nth-of-type(2){*/
    /*color:#00bcf6;*/
/*}*/
.main3 .div p img{
    width: 30px;
    height: 30px;
   margin -top:6%;
}
/*.main3 .dv{*/
    /*position: absolute;*/
    /*top:0;*/
/*}*/
/*.main3 .dv div{*/
    /*margin-bottom: 20px;*/
/*}*/