*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}

.swiper-button-next{
    /*position:absolute;*/
    /*left:50%;*/
    /*top:95%;*/
    left: 50%;
    right:auto;
    top:auto;
    bottom:0;
    margin-left:-13.5px;
    transform:rotate(-90deg);
    width: 17px;
    height: 35px;
    background-size:contain;
    animation: buttonnext 2s infinite;
}
@keyframes buttonnext {
    0%{
        bottom:0;
        opacity: 1;
    }
    100%{
        bottom:5%;
        opacity: 0;
    }
}
/*音乐*/
#mp3Btn{
    position: absolute;
    right:18px;
    top: 20px;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: 4px solid #292929;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(1turn);
    }
}
#mp3Btn img{
    width:10px;
}
/*
*第一屏样式
*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background:url("../img/bj.png");
    height: 100%;
    position: relative;
}
.header img{
    position: absolute;
}
.header img:nth-of-type(1){
    width: 30px;
    top:120px;
    left:50px;
    animation:swing infinite;
}
.header img:nth-of-type(2){
    width: 60px;
    top:90px;
    right:35px;
    animation:swing infinite;
}
.header img:nth-of-type(3){
    width: 50px;
    top:430px;
    left:30px;
    animation:swing infinite;
}
.header img:nth-of-type(4){
    width: 50px;
    top:420px;
    right:50px;
    animation:swing infinite;
}
.header img:nth-of-type(5){
    width:70%;
    top: 25%;
    left: 50%;
    margin-left:-35%;
    animation:pulse infinite;
}
.swing {
    transform-origin:center;
}
.main img{
    position: absolute;
}
.main img:nth-of-type(1){
    width:40%;
    top:33%;
    left:28%;
}
.main img:nth-of-type(2){
    width:80%;
    top: 40%;
    left:10%;
}
.main p{
    color:black;
    background:url(../img/9.png);
    width:200px;
    background-size:contain;
    position:absolute;
    top:55%;
    left:24%;
    height: 24px;
    font-weight: bold;
}
.footer div{
    position: absolute;
    bottom:18%;
    width: 100%;
}
.footer div p{
    color:#117e7b;
    font-weight: bold;
    font-size:14px;
}
.footer img{
    position:absolute;
    bottom:0;
    height:70px;
}
.footer img:nth-of-type(1){
    left:-15%;
    animation:footerimg1 3s infinite alternate;
}
.footer img:nth-of-type(2){
    left:-23%;
    animation:footerimg2 3s infinite alternate;
}
@keyframes footerimg1 {
    0%{
        left:-15%;
    }
    100%{
        left:-30%;
    }
}
@keyframes footerimg2 {
    0%{
        left:-23%;
    }
    100%{
        left:-40%;
    }
}
/*
*第二屏样式
*/
.s2,.s3,.s4,.s4,.s5,.s6,.s7{
    color:#03f3cc;
}
.header1 h2{
    padding-top:70px;
    position: relative;
    font-size:26px;
}
.header1 h2::before,.header1 h2::after{
    content:"";
    position: absolute;
    width: 80px;
    height: 20px;
    display: inline-block;
}
.header1 h2::before{
    background:url("../img/14.png");
    background-size:contain;
    margin-left: -95px;
    margin-top: 10px;
}
.header1 h2::after{
    content:"";
    background:url("../img/13.png");
    position: absolute;
    width: 80px;
    height: 20px;
    display: inline-block;
    background-size:contain;
    margin-left:68px;
    margin-top: 80px;
    top:0;
}
.header1 h2 small{
    display:block;
    letter-spacing: 5px;
    font-size:14px;
    margin-top: 10px;
}
.main1 div{
    position: absolute;
    top: 25%;
    width: 80%;
    left:50%;
    margin-left: -40%;
}
.main1 img{
    position:absolute;
    width: 100%;
    left:0;
    height: 380px;
}
.main1 div p{
    font-size:14px;
   text-align: left;
    line-height:25px;
    padding: 0 10%;
}
.main1 div p:nth-of-type(1){
    padding-top:20px;
}
.main1 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    border-radius:10px;
    width: 120px;
    height: 25px;
    color:black;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom:17%;
    left: 50%;
    margin-left: -60px;
}


/*
*第三屏样式
*/
.main2 span{
    border-radius:50%;
    background:radial-gradient(#000e2b,#045568);
    padding:20px 15px;
    opacity: 0.8;
    font-weight:bold;
    position: absolute;
    font-size:18px;
}
.main2 span:nth-of-type(1){
    top:170px;
    left: 90px
}
.main2 span:nth-of-type(2){
     top:170px;
     right: 90px;
 }
.main2 span:nth-of-type(3){
    top:290px;
    left: 20px;
}
.main2 span:nth-of-type(4){
    top:290px;
    right: 30px;
}
.main2 span:nth-of-type(5){
    top: 410px;
    left: 90px;
}
.main2 span:nth-of-type(6){
    top: 410px;
    right: 90px;
}
.main2 span:nth-of-type(7){
    padding:45px 20px;
    left:130px;
    top:256px;
}
.footer .ss1{
    position: absolute;
    bottom:15%;
    width: 100%;
    font-size:14px;
}

/*
*第四屏样式
*/
.main3{
    position:absolute;
    width: 80%;
    left:50%;
    margin-left: -40%;
    top:25%;
}
.main3 .img1{
    width: 100%;
}

.main3 .div{
    position: absolute;
    padding: 0 10%;
    top:0;
}
.main3 .div span{
    font-size:14px;
    font-weight:bold;
    display:inline-block;
    position:relative;
    top:10px;
}
.main3 .div span:nth-of-type(1){
    left: 20px;
}
.main3 .div span:nth-of-type(2){
    left:13px;
    top:1px;
}
.main3 .div span:nth-of-type(3){
    left:50px;
}
.main3 .div span:nth-of-type(4){
    left: 42px;
    top:1px;
    color:#00bdff;
}
.main3 .div span img{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.main3 .dv{
    position: absolute;
    top:10%;
    width:100%;
    padding-top: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main3 .dv div{
    text-align: left;
    margin-bottom:18px;
}
.main3 .dv div p:nth-of-type(1) img{
    width:15px;
    margin-right: 10px;
}
.main3 .dv div p:nth-of-type(1) span{
    color:white;
    font-size:16px;
}
.main3 .dv div p img{
    margin-top: 5px;
}
.main3 .dv div p span{
    font-size:12px;
    margin-left: 5px;
}
.main3 .dv div p:nth-of-type(3) span{
    color:#00bdff;
}

.main3 .dv div:nth-of-type(1) p:nth-of-type(2) img{
    width: 245px;
}
.main3 .dv div:nth-of-type(1) p:nth-of-type(3) img{
    width: 130px;
}
.main3 .dv div:nth-of-type(2) p:nth-of-type(2) img{
    width:230px;
}
.main3 .dv div:nth-of-type(2) p:nth-of-type(3) img{
    width: 115px;
}
.main3 .dv div:nth-of-type(3) p:nth-of-type(2) img{
    width: 210px;
}
.main3 .dv div:nth-of-type(3) p:nth-of-type(3) img{
    width: 100px;
}
.main3 .dv .p1{
   font-size:12px;
    padding: 0 10px;
}

/*
*第五屏
*/

.main4 div{
    position: absolute;
    top: 22%;
}
.main4 div img{
    width:40%;
    position: relative;
}
.main4 div:nth-of-type(1) img{
    left: -90px;
}
.main4 div:nth-of-type(2) img{
    right:-85px;
}
.main4 div:nth-of-type(3) img{
    left:-90px;
    top:225px;
}
.main4 div:nth-of-type(4) img{
    right:-85px;
    top: 225px;
}
.main4 div div{
    position:relative;
    z-index:9999;
}
.main4 div div img{
    position:absolute;
    width: 30%;
    animation:pulse 10s infinite ;
}
.main4 div div p{
    position:absolute;
    font-size:14px;
    font-weight:bold;
}
.main4 div div span{
    position:absolute;
    font-size:14px;
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    border-radius:10px;
    color:black;
    display:inline-block;
    width: 97px;
    height: 20px;
}
.main4 div:nth-of-type(1) div img {
    top:-175px;
    left:11%;
}
.main4 div:nth-of-type(2) div img {
    top:-175px;
   left:58%;
}
.main4 div:nth-of-type(3) div img {
   top:50px;
    left:11%;
}
.main4 div:nth-of-type(4) div img {
    top:50px;
    left:58%;
}
.main4 div:nth-of-type(1) div p {
    top: -64px;
    left:12%;
}
.main4 div:nth-of-type(1) div span {
    top: -40px;
    left:12%;
}
.main4 div:nth-of-type(2) div p {
    top: -64px;
    right:15%;
}
.main4 div:nth-of-type(2) div span {
    top: -40px;
    right:14%;
}
.main4 div:nth-of-type(3) div p {
    top:164px;
    left:12%;
}
.main4 div:nth-of-type(3) div span {
    top:187px;
    left:12%;
}
.main4 div:nth-of-type(4) div p {
    top: 164px;
    right:15%;
}
.main4 div:nth-of-type(4) div span {
    top: 187px;
    right:14%;
}

/*
*第六屏
*/
.main5 div{
    position: relative;
    margin-top: 20px;
}
.main5 div div{
    position: absolute;
    height: 80px;
    width: 280px;
    background:url("../img/23.png");
    background-size:contain;
    left: 50%;
    margin-left: -140px;
    margin-top:35px;
}
.main5 div h3{
   color:black;
    background:url("../img/22.png");
    width: 236px;
    height: 24px;
    background-size:contain;
    position: absolute;
    line-height: 24px;
    font-size:16px;
    text-align: left;
    left:13%;
    padding-left: 10px;
}
.main5 div div p{
    font-size:14px;
    text-align:left;
    padding:4px 0 2px 6px;
}
.main5 div img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 4%;
    top: -8px;
}
.main5 div s{
    width: 1px;
    height: 122px;
    border-left:1px dashed #1beccc;
    position: absolute;
    left: 8%;
    top: 14px;
}
.main5 div:nth-of-type(2){
    top:140px;
}
.main5 div:nth-of-type(3){
    top:280px;
}

/*
*第七屏
*/

.main6 div{
    position: absolute;
    top: 25%;
    width: 80%;
    left:50%;
    margin-left: -40%;
}
.main6 img{
    position:absolute;
    width: 100%;
    left:0;
}
.main6 div form{
    position: absolute;
    top:20px;
}
.main6 div form input{
    width: 270px;
    height: 60px;
    border:1px solid #1beccc;
    padding:15px;
    margin-bottom: 12px;
}
.main6 div input:last-child{
    background-color: #1beccc;
    color:white;
    font-size:16px;
}
.main6 div p{
    position:absolute;
    font-size:16px;
   top:310px;
    padding:0 20px;
}


@media (max-width:320px) {
    .main1 div p{
        line-height:16px;
    }
    .main1 span {
        bottom:16%;
    }
    .main2 span:nth-of-type(1){
        top:150px;
        left: 60px
    }
    .main2 span:nth-of-type(2){
        top:150px;
        right: 30px;
    }
    .main2 span:nth-of-type(3){
        top:270px;
        left: 10px;
    }
    .main2 span:nth-of-type(4){
        top:270px;
        right: 10px;
    }
    .main2 span:nth-of-type(5){
        top: 370px;
        left:60px;
    }
    .main2 span:nth-of-type(6){
        top: 370px;
        right: 60px;
    }
    .main2 span:nth-of-type(7){
        top:230px;
        left:100px;
    }
.footer .ss1{
    font-size:14px;
}
    .footer img{
        height: 60px;
    }
    @keyframes buttonnext {
        0%{
            bottom:0;
            opacity: 1;
        }
        100%{
            bottom:3%;
            opacity: 0;
        }
    }
    .main3 .dv div{
        text-align: left;
        margin-bottom:6px;
    }
    .main3 .dv div:nth-of-type(1) p:nth-of-type(2) img{
        width: 210px;
    }
    .main3 .dv div:nth-of-type(2) p:nth-of-type(2) img{
        width:180px;
    }
    .main3 .dv div:nth-of-type(3) p:nth-of-type(2) img{
        width:150px;
    }
    .main3 .dv div:nth-of-type(3) p:nth-of-type(3) img{
        width: 100px;
    }

    .main4 div:nth-of-type(1) img{
        top:25px;
        left: -75px;
    }
    .main4 div:nth-of-type(2) img{
        top:25px;
        right: -75px;
    }
    .main4 div:nth-of-type(3) img{
        left: -75px;
        top:210px;
    }
    .main4 div:nth-of-type(4) img{
        top: 210px;
        right: -75px;
    }
    .main4 div:nth-of-type(1) div img {
        top:-125px;
        left:11%;
    }
    .main4 div:nth-of-type(2) div img {
        top:-125px;
        left:58%;
    }
    .main4 div:nth-of-type(3) div img {
        top:60px;
        left:11%;
    }
    .main4 div:nth-of-type(4) div img {
        top:60px;
        left:58%;
    }
    .main4 div:nth-of-type(1) div p {
        top:-30px;
        left:11%;
    }
    .main4 div:nth-of-type(1) div span {
        top: -8px;
        left:11%;
    }
    .main4 div:nth-of-type(2) div p {
        top: -30px;
        right:11%;
    }
    .main4 div:nth-of-type(2) div span {
        top: -8px;
        right:11%;
    }
    .main4 div:nth-of-type(3) div p {
        top: 160px;
        left:11%;
    }
    .main4 div:nth-of-type(3) div span {
        top: 180px;
        left:11%;
    }
    .main4 div:nth-of-type(4) div p {
        top:160px;
        right:11%;
    }
    .main4 div:nth-of-type(4) div span {
        top: 180px;
        right:11%;
    }
    .main5 div div{
        position: absolute;
        height: 68px;
        width: 240px;
        background:url("../img/23.png");
        background-size:contain;
        left: 50%;
        margin-left: -120px;
        margin-top:30px;
    }
    .main5 div div p{
        padding:2px 0 0 6px;
    }
    .main5 div s{
        width: 1px;
        height: 100px;
        border-left:1px dashed #1beccc;
        position: absolute;
        left:8%;
        top: 14px;
    }
    .main5 div:nth-of-type(2){
        top:110px;
    }
    .main5 div:nth-of-type(3){
        top:220px;
    }
    .main6 div form input{
        width: 220px;
        height: 50px;
    }
    .main6 div p{
        position:absolute;
        font-size:14px;
        top:270px;
        padding:0 20px;
    }

}

@media (min-width:360px) {
    .main1 div p{
        line-height: 20px;
    }
    .footer img{
        height: 60px;
    }
    @keyframes buttonnext {
        0%{
            bottom:0;
            opacity: 1;
        }
        100%{
            bottom:3%;
            opacity: 0;
        }
    }
}



@media (min-width:375px) {
    .main1 div p{
        line-height: 20px;
    }
    .footer img{
        height: 60px;
    }
    @keyframes buttonnext {
        0%{
            bottom:0;
            opacity: 1;
        }
        100%{
            bottom:3%;
            opacity: 0;
        }
    }
}

@media (min-width:412px) {
    .main1 div p{
        line-height: 20px;
    }
    .footer img{
        height: 60px;
    }
    @keyframes buttonnext {
        0%{
            bottom:0;
            opacity: 1;
        }
        100%{
            bottom:3%;
            opacity: 0;
        }
    }
    .main1 img{
        height: 360px;
    }
    .main1 span{
        bottom:24%;
    }
    .main2 span:nth-of-type(1) {
        top: 150px;
        left: 90px;
    }
    .main2 span:nth-of-type(2) {
        top: 150px;
        right: 90px;
    }
    .main2 span:nth-of-type(3) {
        top: 260px;
    }
    .main2 span:nth-of-type(4) {
        top: 260px;
    }
    .main2 span:nth-of-type(5) {
        top: 370px;
    }
    .main2 span:nth-of-type(6) {
        top: 370px;
    }
    .main2 span:nth-of-type(7) {
        left: 145px;
        top: 230px;
    }
    .main3 .img1 {
        height: 320px;
    }
    .main3 .dv div {
        margin-bottom: 5px;
    }
    .main5 div:nth-of-type(2) {
        top: 126px;
    }
    .main5 div:nth-of-type(3) {
        top:255px;
    }
    .main6 img {
        height: 360px;
    }
    .main4 div:nth-of-type(1) div img {
        top:-185px;
        left:13%;
    }
    .main4 div:nth-of-type(2) div img {
        top:-185px;
        left:55%;
    }
    .main4 div:nth-of-type(3) div img {
        top:35px;
        left:13%;
    }
    .main4 div:nth-of-type(4) div img {
        top:35px;
        left:55%;
    }
    .main4 div:nth-of-type(1) div p {
        left:15%;
    }
    .main4 div:nth-of-type(1) div span {
        left:15%;
    }
    .main4 div:nth-of-type(2) div p {
        right:18%;
    }
    .main4 div:nth-of-type(2) div span {
        right:18%;
    }
    .main4 div:nth-of-type(3) div p {
        left:15%;
    }
    .main4 div:nth-of-type(3) div span {
        left:15%;
    }
    .main4 div:nth-of-type(4) div p {
        right:18%;
    }
    .main4 div:nth-of-type(4) div span {
        right:18%;
    }
    .main5 div h3 {
        left: 17%;
    }
}


@media (min-width:420px) {
    .main1 div p{
        line-height: 25px;
    }
    .footer img{
        height: 60px;
    }
    @keyframes buttonnext {
        0%{
            bottom:0;
            opacity: 1;
        }
        100%{
            bottom:3%;
            opacity: 0;
        }
    }
    .main5 div s {
        left:7%;
    }
    .main1 span {
        bottom:16%;
    }
    .main2 span:nth-of-type(7){
        left:150px;
    }
    .main4 div:nth-of-type(1) div img {
        top:-185px;
        left:13%;
    }
    .main4 div:nth-of-type(2) div img {
        top:-185px;
        left:55%;
    }
    .main4 div:nth-of-type(3) div img {
        top:35px;
        left:13%;
    }
    .main4 div:nth-of-type(4) div img {
        top:35px;
        left:55%;
    }
    .main4 div:nth-of-type(1) div p {
        left:15%;
    }
    .main4 div:nth-of-type(1) div span {
        left:15%;
    }
    .main4 div:nth-of-type(2) div p {
        right:18%;
    }
    .main4 div:nth-of-type(2) div span {
        right:18%;
    }
    .main4 div:nth-of-type(3) div p {
        left:15%;
    }
    .main4 div:nth-of-type(3) div span {
        left:15%;
    }
    .main4 div:nth-of-type(4) div p {
        right:18%;
    }
    .main4 div:nth-of-type(4) div span {
        right:18%;
    }

}